body {
    font-family: 'Nunito Sans', sans-serif;
}
p {
    text-align: justify;
    text-justify: inter-word;
  
}
i {
    position: absolute;
    right: 0;
    left: 0;
}

.nav-link {
padding-right: 0 !important;
}

.make-cursor{
    cursor: pointer;
}

.estrella-1{
    left: 1180px;
    bottom: 689px;
    color: #C4A433;
}
.estrella-2{
    left: 500px;
    bottom: 700px;
    color: #4056BF;
}
#nuestroespacio{
    margin-top:30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}
.estrella-3{
    left: 494px;
    bottom: 600px;
    color: #7DCF2A;
}

.estrella-4{
    left: 594px;
    bottom: 300px;
    color: #1CB69F;
}
.estrella-5{
    left: 411px;
    bottom: 724px;
    color: #05c9f5;
}

.estrella-6{
    left: 694px;
    bottom: 376px;
    color: #73effb;
}

.estrella-7{
    left: 529px;
    bottom: 435px;
    color: #0b7015;
}
.estrella-8{
    left: 694px;
    bottom: 300px;
    color: #ffa004;
}
.estrella-9{
    left: 1368px;
    bottom: 313px;
    color: #5c3801;
}
.estrella-10{
    left: 1094px;
    bottom: 354px;
    color: #800080;
}
.estrella-11{
    left: 887px;
    bottom: 667px;
    color: #808080;
}
.estrella-12{
    left: 468px;
    bottom: 409px;
    color: #f0aed7;
}
.estrella-13{
    left: 348px;
    bottom: 396px;
    color: #8c6d48;
}
.estrella-14{
    left: 339px;
    bottom: 568px;
    color: #8adaa9;
}
.estrella-15{
    left: 1183px;
    bottom: 443px;
    color: #ff5733;
}
.estrella-16{
    left: 694px;
    bottom: 512px;
    color: #ee3fc7;
}
.estrella-17{
    left: 694px;
    bottom: 600px;
    color: #8b1470;
}
.estrella-18{
    left: 965px;
    bottom: 400px;
    color: #913f02;
}
.estrella-19{
    left: 800px;
    bottom: 500px;
    color: #800000;
}
.estrella-20{
    left: 994px;
    bottom: 500px;
    color: #1a4e90;
}
.estrella-21{
    left: 794px;
    bottom: 700px;
    color: #608394;
}
.estrella-22{
    left: 1294px;
    bottom: 530px;
    color: #808000;
}
.estrella-23{
    left: 1437px;
    bottom: 689px;
    color: #e3e119;
}
.estrella-24{
    left: 1410px;
    bottom: 534px;
    color: #8b6ca1;
}
.estrella-25{
    left: 1418px;
    bottom: 750px;
    color: #a6c6fa;
}
.estrella-26{
    left: 1105px;
    bottom: 524px;
    color: #ff0000;
}
.estrella-27{
    left: 1245px;
    bottom: 596px;
    color: #5a7a5d;
}
.estrella-28{
    left: 994px;
    bottom: 700px;
    color: #000080;
}
.estrella-29{
    left: 394px;
    bottom: 650px;
    color: #ffa07a;
}
.estrella-30{
    left: 494px;
    bottom: 500px;
    color: #c0c0c0;
}

.img-modals{
    width: 45%;
    height: 45%;
    margin-right: 10px;
}