.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  background-image: url("images/MapaLea.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 745px;
}

.u-section-2 .u-icon-1 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 190px auto 0 243px;
}

.u-section-2 .u-icon-2 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: -7px auto 0 519px;
}

.u-section-2 .u-icon-3 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 22px 87px 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 25px;
  height: 25px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 56px auto 0 370px;
}

.u-section-2 .u-icon-5 {
  width: 20px;
  height: 20px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(237, 138, 25) !important;
  margin: -13px auto 0 22px;
}

.u-section-2 .u-icon-6 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 116px auto 0 102px;
}

.u-section-2 .u-icon-7 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 6px 376px 0 auto;
}

.u-section-2 .u-icon-8 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 75px 113px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 428px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 305px;
  }

  .u-section-2 .u-icon-5 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 186px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 328px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 234px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 140px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 246px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 176px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 88px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 155px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 111px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 112px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1820px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 55px 0 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1827px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/muestra4.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1347px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  animation-duration: 1000ms;
  margin: 170px 192px 0 102px;
}

.u-section-4 .u-text-2 {
  font-family: "Nunito Sans";
  animation-duration: 1000ms;
  line-height: 1.8;
  letter-spacing: 1px;
  margin: 64px 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 92px;
    margin-left: 2px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 869px;
}

.u-section-5 .u-text-1 {
  font-family: "Nunito Sans";
  animation-duration: 1000ms;
  font-size: 3.75rem;
  margin: 57px auto 0;
}

.u-section-5 .u-gallery-1 {
  margin-top: 33px;
  margin-bottom: 0;
  height: 727px;
}

.u-section-5 .u-gallery-inner-1 {
  background-image: url("images/DSC08976.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-24 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-25 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-25 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-26 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-26 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-27 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-27 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-28 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-28 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-29 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-29 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-30 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-30 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-31 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-31 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-32 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-32 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-33 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-33 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-34 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-34 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-35 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-35 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-36 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-36 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-37 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-37 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-38 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-38 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-39 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-39 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-40 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-40 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-41 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-41 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-42 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-42 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-43 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-43 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-44 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-44 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-45 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-45 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-46 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-46 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-47 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-47 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-48 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-48 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-49 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-49 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-50 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-50 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-51 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-51 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-52 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-52 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-24 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-25 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-26 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-27 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-28 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-29 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-30 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-31 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-32 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-33 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-34 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-35 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-36 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-37 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-38 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-39 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-40 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-41 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-42 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-43 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-44 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-45 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-46 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-47 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-48 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-49 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-50 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-51 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-52 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: normal;
  }

  .u-section-5 .u-carousel-thumbnail-1 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-2 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-3 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-4 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-5 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-6 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-7 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-8 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-9 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-10 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-11 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-12 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-13 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-14 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-15 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-16 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-17 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-18 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-19 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-20 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-21 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-22 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-23 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-24 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-25 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-26 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-27 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-28 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-29 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-30 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-31 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-32 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-33 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-34 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-35 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-36 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-37 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-38 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-39 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-40 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-41 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-42 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-43 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-44 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-45 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-46 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-47 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-48 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-49 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-50 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-51 {
    width: 18px;
    height: 18px;
  }

  .u-section-5 .u-carousel-thumbnail-52 {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-carousel-thumbnail-1 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-2 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-3 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-4 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-5 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-6 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-7 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-8 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-9 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-10 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-11 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-12 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-13 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-14 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-15 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-16 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-17 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-18 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-19 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-20 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-21 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-22 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-23 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-24 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-25 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-26 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-27 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-28 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-29 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-30 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-31 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-32 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-33 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-34 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-35 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-36 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-37 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-38 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-39 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-40 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-41 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-42 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-43 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-44 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-45 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-46 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-47 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-48 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-49 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-50 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-51 {
    width: 14px;
    height: 14px;
  }

  .u-section-5 .u-carousel-thumbnail-52 {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-carousel-thumbnail-1 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-2 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-3 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-4 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-5 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-6 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-7 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-8 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-9 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-10 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-11 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-12 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-13 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-14 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-15 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-16 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-17 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-18 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-19 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-20 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-21 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-22 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-23 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-24 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-25 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-26 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-27 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-28 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-29 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-30 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-31 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-32 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-33 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-34 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-35 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-36 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-37 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-38 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-39 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-40 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-41 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-42 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-43 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-44 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-45 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-46 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-47 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-48 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-49 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-50 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-51 {
    width: 10px;
    height: 10px;
  }

  .u-section-5 .u-carousel-thumbnail-52 {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-2 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-3 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-4 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-5 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-6 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-7 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-8 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-9 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-10 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-11 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-12 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-13 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-14 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-15 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-16 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-17 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-18 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-19 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-20 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-21 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-22 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-23 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-24 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-25 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-26 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-27 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-28 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-29 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-30 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-31 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-32 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-33 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-34 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-35 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-36 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-37 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-38 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-39 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-40 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-41 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-42 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-43 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-44 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-45 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-46 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-47 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-48 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-49 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-50 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-51 {
    width: 7px;
    height: 7px;
  }

  .u-section-5 .u-carousel-thumbnail-52 {
    width: 7px;
    height: 7px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 3rem;
  font-family: "Nunito Sans";
  animation-duration: 1000ms;
  margin: 86px auto 0;
}

.u-section-6 .u-text-2 {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 18px;
  margin-bottom: 60px;
  min-height: 618px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 618px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-6 .u-container-layout-1 {
  padding: 11px 18px;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin: 0 106px 0 98px;
}

.u-section-6 .u-text-4 {
  width: 334px;
  font-size: 1rem;
  font-family: "Nunito Sans";
  margin: 33px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 11px 18px;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin: 0 106px 0 98px;
}

.u-section-6 .u-text-6 {
  width: 334px;
  font-size: 1rem;
  font-family: "Nunito Sans";
  margin: 33px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 11px 18px;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin: 0 106px 0 98px;
}

.u-section-6 .u-text-8 {
  width: 334px;
  font-size: 1rem;
  font-family: "Nunito Sans";
  margin: 33px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 11px 18px;
}

.u-section-6 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin: 0 106px 0 98px;
}

.u-section-6 .u-text-10 {
  width: 334px;
  font-size: 1rem;
  font-family: "Nunito Sans";
  margin: 33px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 11px 18px;
}

.u-section-6 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin: 0 106px 0 98px;
}

.u-section-6 .u-text-12 {
  width: 334px;
  font-size: 1rem;
  font-family: "Nunito Sans";
  margin: 33px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 11px 18px;
}

.u-section-6 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin: 0 106px 0 98px;
}

.u-section-6 .u-text-14 {
  width: 334px;
  font-size: 1rem;
  font-family: "Nunito Sans";
  margin: 33px auto 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 11px 18px;
}

.u-section-6 .u-text-15 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin: 0 106px 0 98px;
}

.u-section-6 .u-text-16 {
  width: 334px;
  font-size: 1rem;
  font-family: "Nunito Sans";
  margin: 33px auto 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 289px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}

.u-section-6 .u-text-17 {
  font-family: "Nunito Sans";
  font-size: 1.125rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 111px;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-11 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-13 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-text-14 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-15 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-text-16 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
  }

  .u-section-6 .u-text-12 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-6 .u-text-13 {
    margin-right: 0;
  }

  .u-section-6 .u-text-14 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-6 .u-text-15 {
    margin-right: 0;
  }

  .u-section-6 .u-text-16 {
    margin-top: 33px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-3 {
    margin-top: 75px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -75px;
    width: 320px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 147px;
    width: 320px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 147px;
    width: 320px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 147px;
    width: 320px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-12 {
    margin-left: 147px;
    width: 320px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 147px;
    width: 320px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-16 {
    margin-left: 147px;
    width: 320px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1151px;
}

.u-section-7 .u-text-1 {
  animation-duration: 1000ms;
  font-family: "Nunito Sans";
  width: 271px;
  margin: 27px auto 0;
}

.u-section-7 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  margin: 30px auto 60px;
}

.u-section-7 .u-repeater-1 {
  min-height: 760px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-2 {
  margin: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-3 {
  margin: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-4 {
  margin: 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-text-5 {
  margin: 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px;
}

.u-section-7 .u-text-6 {
  margin: 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 10px;
}

.u-section-7 .u-text-7 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
    min-height: 242px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1472px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
    min-height: 696px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1081px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 927px;
}

.u-section-8 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0 0 31px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 766px;
  }
}