.u-section-1 .u-sheet-1 {
  min-height: 43px;
} .u-section-2 {
  background-image: url("images/MapaLea.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 715px;
}

.u-section-2 .u-icon-1 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 160px auto 0 243px;
}

.u-section-2 .u-icon-2 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: -7px auto 0 519px;
}

.u-section-2 .u-icon-3 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 22px 87px 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 68px auto 0 22px;
}

.u-section-2 .u-icon-5 {
  width: 25px;
  height: 25px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: -26px auto 0 370px;
}

.u-section-2 .u-icon-6 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 123px auto 0 102px;
}

.u-section-2 .u-icon-7 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 6px 376px 0 auto;
}

.u-section-2 .u-icon-8 {
  width: 26px;
  height: 26px;
  animation-duration: 2250ms;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 75px 113px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 428px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 305px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 186px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 328px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 234px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 140px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 246px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 176px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 88px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 155px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 111px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 112px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1820px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 55px 0 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1827px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/macba.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1234px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  font-family: "Nunito Sans";
  animation-duration: 1000ms;
  margin: 266px 186px 0 108px;
}

.u-section-4 .u-text-2 {
  font-family: "Nunito Sans";
  animation-duration: 1000ms;
  line-height: 1.8;
  margin: 91px 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 86px;
    margin-left: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 869px;
}

.u-section-5 .u-text-1 {
  font-family: "Nunito Sans";
  animation-duration: 1000ms;
  font-size: 3.75rem;
  margin: 57px auto 0;
}

.u-section-5 .u-gallery-1 {
  margin-top: 33px;
  margin-bottom: 0;
  height: 727px;
}

.u-section-5 .u-gallery-inner-1 {
  background-image: url("images/DSC08976.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-25 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-25 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-26 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-26 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-27 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-27 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-28 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-28 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-29 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-29 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-30 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-30 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-31 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-31 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-32 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-32 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-33 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-33 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-34 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-34 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-35 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-35 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-36 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-36 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-37 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-37 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-38 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-38 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-39 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-39 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-40 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-40 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-41 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-41 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-42 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-42 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-43 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-43 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-44 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-44 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-45 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-45 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-46 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-46 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-47 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-47 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-48 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-48 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-49 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-49 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-50 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-50 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-51 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-51 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-52 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-52 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-53 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-53 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-54 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-54 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-55 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-55 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-56 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-56 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-57 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-57 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: normal;
  }

  .u-section-5 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-8 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-9 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-10 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-11 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-12 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-13 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-14 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-15 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-16 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-17 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-18 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-19 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-20 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-21 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-22 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-23 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-24 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-25 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-26 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-27 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-28 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-29 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-30 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-31 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-32 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-33 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-34 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-35 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-36 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-37 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-38 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-39 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-40 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-41 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-42 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-43 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-44 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-45 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-46 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-47 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-48 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-49 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-50 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-51 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-52 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-53 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-54 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-55 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-56 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-57 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 851px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 3rem;
  font-family: "Nunito Sans";
  animation-duration: 1000ms;
  margin: 86px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1112px;
  margin: 60px auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 588px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-4576085.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: -110px 0 0 147px;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-5141074.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: -110px 0 0 147px;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9821204.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: -110px 0 0 147px;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  margin: -110px 0 0 147px;
}

.u-section-6 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9787579.jpeg");
  background-position: 50% 26.53%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-10 {
  margin: -110px 0 0 147px;
}

.u-section-6 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9867161.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-12 {
  margin: -110px 0 0 147px;
}

.u-section-6 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 497px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
  }

  .u-section-6 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-8 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-10 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-12 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  animation-duration: 1000ms;
}

.u-section-7 .u-text-2 {
  font-family: "Nunito Sans";
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-family: Roboto, sans-serif;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 708px;
}

.u-section-8 .u-text-1 {
  animation-duration: 1000ms;
  margin: 31px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}